* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

.apply_flex {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero_content > * {
	margin: 0.5rem;
}

.hero_img {
	max-width: 20rem;
}

.hero_img_item {
	margin: 2rem;
}

.apply_flex > div {
	padding: 2rem;
}

.button_wrapper > a {
	width: 100%;
	margin-top: 1rem;
	text-decoration: none;
}

button a {
	text-decoration: none;
	color: var(--white-color);
}

@media (max-width: 768px) {
	.apply_flex {
		display: flex;
		flex-direction: column;
	}

	.hero_img {
		max-width: 17rem;
	}

	.button_wrapper > a {
		display: flex;
		flex-direction: column;
	}
}
