.alert {
	max-width: 50rem;
	margin-top: 1rem;
	font-size: 0.8em;
}

.fa-exclamation-circle {
	color: var(--red-color);
}

.fa-exclamation-triangle {
	color: var(--orange-color);
}

.fa-check-circle {
	color: var(--green-color);
}

.fa-info-circle {
	color: var(--blue-color);
}

.fg_red {
	color: var(--red-color);
}

.bg_red {
	background-color: #fecaca;
}

.fg_orange {
	color: var(--orange-color);
}

.fg_blue {
	color: var(--blue-color);
}

.fg_green {
	color: var(--green-color);
}

.bg_black {
	/* background-color: var(--black-color); */
	border: 2px solid lightgray;
}
