.apply_grid_col2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--blue-color);
	grid-row-gap: 1rem;
}

.apply_grid_col3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--blue-color);
	grid-row-gap: 1rem;
}

.grid_item {
	margin: 1rem;
	padding: 1rem;
	background-color: var(--light-grey);
}
