.modal {
	border: 2px solid var(--light-grey);
	width: 50%;
	padding: 1rem 0rem 1rem 0rem;
	position: relative;
    box-shadow: 10px 8px 5px 1px #c9c1c1ad;
}


.modal_title h3 {
	margin-left: 0.5rem;
}

.btn_close {
	position: absolute;
	right: 0;
	top: 2%;
	margin-right: 0.5rem;
	padding: 0.25rem 0.7rem 0.25rem 0.7rem;
	background-color: var(--white-color);
	border: none;
	color: var(--red-color);
}

.modal_content {
	margin: 1rem;
}

.modal_footer {
	margin-left: 1rem;
}

@media screen and (min-width: 768px) {
	.modal {
		width: 55%;
	}
}
