/* start of nav bar */

.nav_bar {
	position: relative;
	font-size: 0.1.2rem;
	background-color: var(--black-color);
	padding: 1rem;
}

.main_nav {
	list-style-type: none;
	display: none;
}

.nav_links,
.logo {
	text-decoration: none;
	color: var(--white-color);
	opacity: 70%;
}

.nav_links:hover,
.logo:hover {
	opacity: 100%;
}

.nav_links {
	position: relative;
}

.main_nav li {
	text-align: center;
	margin: 1rem auto;
}

.logo {
	display: inline-block;
	font-size: 1.2rem;
	/* margin-top: 0.8rem; */
	/* margin-left: 1.2rem; */
}

.navbar_toggle {
	position: absolute;
	right: 20px;
	cursor: pointer;
	color: var(--white-color);
	/* color: var(--red-color); */
	font-size: 1.4rem;
}

.product_link {
	position: relative;
}

.product_drop_down_items {
	display: none;
	top: 100px;
	min-width: 5rem;
	z-index: 1;
	position: absolute;
}

.product_drop_down:hover .product_drop_down_items {
	display: block;
}

.active {
	display: block;
}
