.nav_bar {
	position: relative;
	background-color: var(--black-color);
	padding: 1rem;
	font-size: 0.1.2rem;
}
.main_nav {
	display: none;
	list-style-type: none;
}
.nav_links,
.logo {
	opacity: 70%;
	text-decoration: none;
	color: var(--white-color);
}
.nav_links:hover,
.logo:hover {
	opacity: 100%;
}
.nav_links {
	position: relative;
}
.main_nav li {
	margin: 1rem auto;
	text-align: center;
}
.logo {
	display: inline-block;
	font-size: 1.2rem;
}
.navbar_toggle {
	position: absolute;
	right: 20px;
	cursor: pointer;
	color: var(--white-color);
	font-size: 1.4rem;
}
.product_link {
	position: relative;
}
.product_drop_down_items {
	display: none;
	position: absolute;
	top: 100px;
	z-index: 1;
	min-width: 5rem;
}
.product_drop_down:hover .product_drop_down_items {
	display: block;
}
.active {
	display: block;
}

@media screen and (min-width: 768px) {
	.nav_bar {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 70px;
		align-items: center;
	}

	.main_nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}

	.main_nav li {
		margin: 0;
	}

	.nav_links {
		color: var(--white-color);
		margin-left: 40px;
	}

	.logo {
		margin-top: 0;
	}

	.navbar_toggle {
		display: none;
	}

	.fa-bars {
		color: var(--white-color);
	}
}
