.toast {
	border: 3px solid var(--blue-color);
	border-radius: 1rem;
	max-width: 20rem;
	box-shadow: 10px 8px 5px 1px #c9c1c1ad;
}

.toast_header {
	position: relative;
}

.toast_header,
.toast_body {
	padding: 1rem;
}

.toast_body {
	padding: 2rem 1rem 2rem 1rem;
}

.btn_toast {
	position: absolute;
	top: 1;
	color: var(--red-color);
	border: none;
	background-color: var(--white-color);
	padding: 0;
	margin-left: 4rem;
}
.toast span {
	margin-left: 1rem;
}
